/*****************************************************************
* WP Plugin Showroom CSS
******************************************************************/
.plgshow-showroom{
    margin:15px 0 15px;
    border: 1px solid #d4d4d4;
}
.plgshow-plgtable{
    position: relative;
    display: table;
    background-color: #fff;
    padding:5px;
}
.plgshow-image{
    display: table-cell;
    vertical-align: middle;
    width:128px;
}
.plgshow-text-content{
    display: table-cell;
    padding: 0px 5px;
    word-wrap: break-word;
}
.plgshow-header{
    font-size: 1.2em;
    font-weight: 600;
    word-wrap: break-word;
}
.plgshow-header a{
    text-decoration: none;
    box-shadow: none;
}
.plgshow-description{
    font-size:0.8em;
}
.plgshow-footer{
    margin-top: 10px;
    text-align: right;
    padding: 10px 20px;
    border-top: 1px dotted #d4d4d4;
    background-color: #f9f9f9;
    font-size: 0.8em;
}
.plgshow-footer a{
    color:#fff;
}
.plgshow-author{
    font-style: italic;
    font-size: 0.8em;
    color: #929292;
    padding-top:5px;
}
.plgshow-yellow{
    color:#ffe600;
    font-size: 1.3em;
}
.plgshow-footer-text{
    float: left;
    clear: left;
}
.plgshow-footer-text-downloads{
    float: left;
    clear: left;
}
.plgshow-footer-text-modi{
    float: left;
    clear: left;
}
.plgshow-footer-text{
    font-size: 1em;
}
.plgshow-dwn-link{
    float: right;
    clear: right;
}
.plgshow-footer::after{
    content: ' ';
    clear: both;
    display: table;
}
.plgshow-star-rating{
    display: inline-table;
}
.plgshow-star-rating .star {
    color: #ffb900;
    display: inline-block;
    font-family: dashicons;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    height: 20px;
    line-height: 1;
    text-align: center;
    text-decoration: inherit;
    vertical-align: top;
    width: 20px;
}
.plgshow-star-rating .star-full::before {
    content: "\f155";
}
.plgshow-star-rating .star-half::before {
    content: "\f459";
}
.plgshow-star-rating .star-empty::before {
    content: "\f154";
}
a.plgshow-button{
    color:#555;
    background:#949494;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    font-size: 1em;
    margin: 0;
    padding: 8px 15px;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: none;
    border:1px solid #ccc;
    transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    margin-right: 10px;
}
a.plgshow-button:hover{
    box-shadow: none;
    background:#cccbcb;
    color:#000;
}
/* Unter Tabletsgröße */
@media (max-width: 991.98px) {
    .plgshow-footer-text {
        font-size: 1em;
        display: block;
        float: none;
        clear: both;
        margin-bottom: 10px;
    }
    .plgshow-footer {
        text-align: center;
        margin-bottom: 10px;
    }
    .plgshow-dwn-link {
        float: none;
        clear: both;
        text-align: center;
        margin-bottom: 10px;
    }
    .plgshow-footer-text-modi,
    .plgshow-footer-text-downloads {
        float: none;
        clear: both;
        text-align: center;
        margin-bottom: 10px;
    }
    a.plgshow-button{
        padding: 15px 20px;
    }
}