#plgshow-shortcode h3.hndle {
    margin: 0;
    padding: 8px 0 8px 12px;
    cursor: default;
}

.trash-buffer-spinner{
	display: inline-block;
	width:20px;
	height:20px;
	background-size: 100%;
	position: absolute;
	margin: 4px 0 0 5px;
}
